<header id="header-content">
    <div id="logo">
        <a href="/login"><div id="img-logo"></div></a>
        <h3>Budget Buddy</h3>
    </div>
    <div id="menu">
        <ul>
            <li><a href="#">Home</a></li>
            <li><a href="#">Dashboard</a></li>
            <li><a href="#">Settings</a></li>
            <li><a href="#">Support</a></li>
        </ul>
    </div>
</header>
<main id="container">
    <div id="box-container">
        <div id="mascot-container">
            <div id="img-mascot"></div>
        </div>
        <div id="login-container">
            
            <form id="form-login">
                <h1>Login</h1>
                <p>
                    <label for="username">Username:</label><br>
                    <input type="text" id="inUsername" required>
                </p>

                <p>
                    <label for="password">Password:</label><br>
                    <input type="password" id="inPassword">
                    <a href="#" id="forgotPass"><p>Forgot yout password?</p></a>
                </p>

                <p class="buttons">
                    <button type="submit">Login</button>
                    <button type="button" id="btRegister">Register</button>
                </p>

            </form>
        </div>
    </div>
</main>
<footer></footer>